<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./whatsappwidget.css">
    <link rel="stylesheet" href="../../globalStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>


    <div class="widget-holder">
        <div class="chat-text-holder">
            <div class="system">
                Hi
            </div>

            <div class="client">
                I'm Good today and you
            </div>

            <div class="client">
                I'm Good today and you, can you help me with my Lamid account.
            </div>

        </div>
        <div class="text-box-holder">
            <input type="text" placeholder="Text message">
            <button><i class="bi bi-arrow-up-short"></i></button>
        </div>
    </div>

    <div class="widget-toggler">
        <img src="./../../assets/whatsapp/images1.png" alt="">
    </div>

    <script src="./whatsappwidget.js"></script>
</body>

</html>