.title-header {
    font-size: 40px;
    color: #D3202E;
}

.normal-text {
    font-weight: 200;
    opacity: .7;
}

.contact-holder {
    width: 87vw;
    padding: .5rem;
}

.hide-on-small-screen {
    display: block;
}

.contact-us-top {
   margin-top: 5rem;
}


@media (max-width: 640px) {
    .contact-us-top {
        flex-direction: column;
    }

    .contact-us-top div {
        width: 100%;
    }

    .hide-on-small-screen {
        display: none;
    }

    .contact-holder div {
        flex-direction: column;
        gap: .5rem;
    }

    .contact-holder div input {
        width: 100%;
    }
}