:root {
    --primary: #D3202E;
}

.searchBtn{
    background: var(--primary);
    color: #fff;
    margin-right: -.5rem;
    z-index: 3;
}

.search-holder{
    margin-top: 4rem;
}

.card-outline{
    border: 1px solid var(--primary);

}

.image-one{
    width: 13rem;
    height: 13rem;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-text{
    font-size: 20px;
    font-weight: 400;
}

.details{
    font-weight: 200;
    font-size: 16px;
}

.pagination-component{
    display: flex;
    gap: .3rem;
}

.pagination-component li{
    padding: .3rem;
    background: #fff;
    width: 2rem;
    color: #222;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.div-two{
    align-items: center;
}

.active-list{
    background: var(--primary) !important;
    color: #fff !important;
}

.side-card{
    border: 1px solid #fff;
    padding: 2rem;
    margin: 1rem 0px;
}



.side-text-decoration-header{
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 25px;
}

.side-text-decoration-header::after{
    content: '';
    position: absolute;
    width: 5rem;
    height: 2px;
    background: var(--primary);
    margin-left: -8rem;
    margin-top: 2.5rem;
}

.side-card ul{ 
    font-weight: 200;
    font-size: 19px;
}


@media (max-width: 640px) { 
.div-two{
    display: none !important;
}

.page-card-holder{
    width: 100% !important;
}

.card-outline{
    display: block !important;
}

.image-one{
    width: 100%;
    margin-bottom: 1rem;
}


.details{
    font-weight: 100;
    font-size: 15px;
}

.page-holder{
    width: 100vw;
}
}