.biz-text-one p {
    color: #fff !important;
}

.whitetext {
    color: #fff !important;
}

.redtext {
    color: #C12129;
}

.thick {
    font-weight: 700;
}

.flexed button {
    padding: .5rem;
}

.top-2 {
    margin-top: 2rem;
}

.padded-white-bg {
    padding: 1rem;
    background: #fff;
}

.newbizb4g li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-top-1 {
    margin-top: 1rem;
}

.scale-dwn {
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    -o-transform: scale(.6);
}

.newbiz4section2 {
    width: 100%;
    min-height: 40vh;
    padding: 1rem 0px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innernewbiz4section2 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    text-align: center;
}

.newbizbb {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.newbizbb ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.d-div-holder-iii {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
}


.d-div-holder-iii div:nth-child(1) {
    border-right: 3px solid #C12129;

}

.d-div-holder-iii div:nth-child(2) {
    margin-left: 5rem;
}

.d-div-holder-iii div p {
    width: 60%;
    font-weight: 600;
    text-align: left;
}

.newbizsection3 {
    width: 100%;
    min-height: 40vh;
}

.newbizsection3 img {
    width: 100%;
}

.newbizsection4 {
    width: 100%;
    min-height: 40vh;
    background: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.innernewbizsection4 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem;
}


.innernewbizsection4 div {
    background: #554A4A;
    color: #fff;
    width: 21vw;
    height: 21rem;
    padding: 1.5rem;
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    display: flex;
    border-bottom-right-radius: 20px;
}

.innernewbizsection4 div:nth-child(1) p {
    height: 20%;
    overflow: visible !important;
}

.innernewbizsection4 div:nth-child(1) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.innernewbizsection4 div:nth-child(2) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.innernewbizsection4 div:nth-child(1) img {
    width: 19rem
}

.innernewbizsection4 div:nth-child(2) img {
    height: 100%;
    width: 26vw;
}

.thintext {
    font-weight: 100;
}

.big-text {
    font-size: 27px;
}

.newbizwhitebg {
    width: 100%;
    min-height: 50vh;
    background: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.innernewbizwhitebg {
    width: 70%;
    padding: 1rem 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.three-section-holder {
    display: flex;
    height: 11rem;
    flex-direction: row;
    text-align: center;
}

.three-section-holder div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.white-section {
    background: #DCD4D4;
    border: 2px solid #444;
    font-size: 25px;
}

.white-section button {
    background: 999999;
    padding: .5rem;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.red-bg {
    background-color: #C12129;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.newbizbtm {
    width: 70%;
}

.newbizbtm img {
    width: 100%;
}

.abls {
    position: absolute;
    width: 11rem;
    margin-left: 30rem;
    margin-top: 1rem;
}

.abls img {
    width: 100%;
}

.newbiz-darkbottom {
    width: 100%;
    min-height: 40vh;
    background: #000;
    padding: 1rem 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.innernewbiz-darkbottom {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newbiz-sub-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newbiz-sub-section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grey-btn {
    width: 100%;
    padding: .7rem 1rem;
    background: #474141;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grey-btn-i {
    padding: .7rem 1rem;
    background: #474141;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red-btn {
    width: 100%;
    padding: .7rem 1rem;
    background: #C12129;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red-btn-i {
    padding: .7rem 1rem;
    background: #C12129;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.newbiz-sub-section div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newbiz-sub-section div:nth-child(2) {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

.newbiz-img img {
    width: 100%;
}

@media (max-width: 768px) {

    .innernewbiz4section2 {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 15px;
        text-align: center;
    }



    .newbizbb {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        overflow-x: scroll;
    }

    .newbizbb ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: 6rem;
    }

    .full-biz-img {
        width: 8rem;
    }

    .full-biz-img img {
        width: 100%;
    }

    .d-div-holder-iii {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 1rem;
    }


    .d-div-holder-iii div:nth-child(1) {
        border-bottom: 3px solid #C12129;
        border-right: none;

    }

    .d-div-holder-iii div:nth-child(2) {
        margin-left: 0rem;
    }

    .d-div-holder-iii div p {
        width: 100%;
        font-weight: 600;
        text-align: left;
        padding: 1rem;
    }

    .innernewbizsection4 {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 1rem;
    }


    .innernewbizsection4 div {
        background: #554A4A;
        color: #fff;
        width: 90%;
        height: max-content;
        padding: 1.5rem;
        border: 1px solid #fff;
        border-top-left-radius: 20px;
        display: flex;
        border-bottom-right-radius: 20px;
    }

    .innernewbizsection4 div:nth-child(1) p {
        height: 20%;
        overflow: visible !important;
    }

    .innernewbizsection4 div:nth-child(1) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .innernewbizsection4 div:nth-child(2) {
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .innernewbizsection4 div:nth-child(1) img {
        width: 10rem
    }

    .innernewbizsection4 div:nth-child(2) img {
        height: 100%;
        width: 26%;
    }

    
.innernewbizwhitebg {
    width: 90%;
    padding: 1rem 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.three-section-holder {
    display: flex;
    height: max-content;
    flex-direction: column;
    text-align: center;
}

.three-section-holder div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.white-section {
    background: #DCD4D4;
    border: 2px solid #444;
    font-size: 15px;
}

.white-section button {
    background: 999999;
    padding: .5rem;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.abls {
    position: absolute;
   display: none;
}



.innernewbiz-darkbottom {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newbiz-sub-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newbiz-sub-section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grey-btn {
    width: 100%;
    padding: .5rem .5rem;
    background: #474141;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grey-btn-i {
    padding: .5rem .5rem;
    background: #474141;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red-btn {
    width: 100%;
    padding: .5rem .5rem;
    background: #C12129;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red-btn-i {
    padding: .5rem .5rem;
    background: #C12129;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.newbiz-sub-section div:nth-child(2) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

}

