/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}
