<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/styles/newhomage.css">
    <link rel="stylesheet" href="../../public/styles/newbiz.css">
    <link rel="stylesheet" href="../../public/styles/newhcd.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/newbiz4bbgr.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/newaboutus.css">
</head>

<body>
    <nav class="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#" class="active">SERVICES</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">BUSSINESS PLANS</a></li>
        </ul>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="absection1-biz">
        <div class="biz-sub">
            <div class="logo-biz hide-mobile">
                <img src="../../public/img/logo (1).png" alt="">
            </div>
            <div class="biz-top-holder">

            </div>
            <div class="biz-top-holder flexed">
                <div class="biz-img">
                    <img src="../../public/img//Rectangle 4.png" alt="biz-img" srcset="">
                </div>
                <div class="biz-text">

                    <p class="biz-text-one">
                        <h1 class="whitetext">BIZ-4-BBGR</h1>

                        <b class="whitetext">BIZ for Bridge-Building and Globalization Re-Set </b>
                        <br>
                        <span class="redtext thick">Social inclusion for women & youth:</span>
                        <br>
                        <span class="whitetext">
                            By experience, we see job and wealth creation, and cooperative formation as powerful
                            strategies to achieving great social impact.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="hcd-list-holder">
            <ul class="newbizb4g">
                <li>
                    <div class="flex-hcd">
                        <p class="flex-hcd-text">
                            “With the latest technology in profiling and personality prediction, <span class="redtext">
                                we source the best</span>. Our
                            on-line scheduling requests ensure real time communication connects clients to first class
                            candidates.”
                        </p>
                        <div class="flexed top-2">
                            <button class="custom-btn-ab-1">JOIN BIZ CLUB</button>
                            <button class="custom-btn-ab-1">JOIN BIZSPHERE </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="hcd-list-img">
                        <img src="../../public//img/Polygon 30.png" alt="">
                    </div>
                    <p class="redtext thick padded-white-bg margin-top-1">Social Impact by
                        Cooperatives</p>
                </li>

                <li>
                    <div class="hcd-list-img">
                        <img src="../../public//img/Polygon 30.png" alt="">
                    </div>
                    <p class="redtext thick padded-white-bg margin-top-1">Job and Wealth
                        Creation</p>
                </li>
            </ul>
        </div>
        <p class="whitetext">
            LAMID Consulting is a non-profit management and leadership program with <br>
            the interest in creating positive community development to build or accelerate.
        </p>

        <div class="hcd-card scale-dwn">
            <img src="../../public//img/Frame 6.png" alt="">
        </div>
    </div>

    <div class="newbiz4section2">
        <div class="innernewbiz4section2">
            <h2 class="redtext thick">Social Impact by Cooperatives</h2>
            <b>BIZ brands have created and accelerated several women and youth-led <br> and owned cooperatives.</b>



            <div class="newbizbb">
                <ul class="newbizbb-icon">
                    <li>
                        <div class="full-biz-img">
                            <img src="../../public//img/Ellipse 9.png" alt="">
                        </div>

                    </li>
                    <li>
                        <div class="full-biz-img">
                            <img src="../../public//img/Ellipse 10.png" alt="">
                        </div>

                    </li>

                    <li class="full-biz-img">
                        <div>
                            <img src="../../public//img/Ellipse 11.png" alt="">
                        </div>

                    </li>
                </ul>
            </div>


            <div class="d-div-holder-iii">
                <div>
                    <p>
                        We use affordable,accessible, triple bottom line in BEST to integrate and position cooperatives
                        to re-set globalization.
                    </p>
                </div>

                <div>
                    <p>
                        Starting from few groups to communities and nations, we have continued to work with others to
                        transform lives.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="newbizsection3">
        <img src="../../public//img/social impact.png" alt="">
    </div>
    <div class="newbizsection4">
        <div class="innernewbizsection4">
            <div>
                <p><b>we have focused on innovation, technology, trade, and investment to achieve 25 years+ outcomes and
                        impact enabling inclusive, sustainable human development.
                    </b>
                </p>
                <img src="../../public//img/Rectangle 158.png" alt="">
            </div>
            <div>
                <section>
                    <p class="big-text">
                        <b>Advice <br><br>
                            Innovation <br><br>
                            Funding. <br><br>
                        </b>

                        <p class="thintext">
                            You do not have to re-invent the wheel, see our proven successful transformations.
                        </p>
                    </p>
                </section>
                <img src="../../public//img/Rectangle 164.png" alt="">
            </div>
        </div>
    </div>

    <div class="newbizwhitebg">
        <div class="innernewbizwhitebg">
            <div class="three-section-holder">
                <div class="white-section">
                    <p>Free
                        <b>Business <br> Health </b> Check</p>
                    <button>Signup for a free check</button>
                </div>
                <div class="red-bg">
                    <p>
                        JOB SEARCH <br>
                        CLINIC
                    </p>
                </div>
                <div class="white-section">
                    <p>Lamid’s <b>Business</b> <br>
                        Guides</p>
                    <button>Shop for Guides</button>
                </div>
            </div>


            <div class="newbizbb">
                <ul class="newbizbb-icon scale-dwn">
                    <li>
                        <div class="full-biz-img">
                            <img src="../../public//img/Ellipse 15.png" alt="">
                        </div>

                    </li>
                    <li>
                        <div class="full-biz-img">
                            <img src="../../public//img/Ellipse 16.png" alt="">
                        </div>

                    </li>

                    <li class="full-biz-img">
                        <div>
                            <img src="../../public//img/Ellipse 17.png" alt="">
                        </div>

                    </li>
                </ul>
            </div>

            <div class="newbizbtm">
                <div class="abls">
                    <img src="../../public//img/Rectangle 166.png" alt="">
                </div>
                <img src="../../public//img/Group 131.png" alt="">
            </div>
        </div>
    </div>

    <div class="newbiz-darkbottom">
        <div class="innernewbiz-darkbottom">
            <div class="newbiz-sub-section">
                <div class="">
                    <p class="thick">UPCOMING EVENTS</p>

                    <button class="grey-btn-i">SEE EVENTS</button>
                </div>
                <div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public//img/Polygon 22.png" alt="">
                        </div>
                        <button class="grey-btn">RESERVE SEAT</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public//img/Polygon 23.png" alt="">
                        </div>
                        <button class="grey-btn">RESERVE SEAT</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public//img/Polygon 25.png" alt="">
                        </div>
                        <button class="grey-btn">RESERVE SEAT</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public//img/Polygon 27.png" alt="">
                        </div>
                        <button class="grey-btn">RESERVE SEAT</button>
                    </div>
                </div>

            </div>
            <div class="newbiz-sub-section">
                <div class="">
                    <p class="thick white-text big-text">BUSINESS GUIDES</p>
                </div>
                <div class="centered-flex">
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public/img/Rectangle 168 (1).png" alt="">
                        </div>
                        <button class="red-btn">PURCHASE</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public/img/Rectangle 169.png" alt="">
                        </div>
                        <button class="red-btn">PURCHASE</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public/img/Rectangle 170.png" alt="">
                        </div>
                        <button class="red-btn">PURCHASE</button>
                    </div>
                    <div>
                        <div class="newbiz-img">
                            <img src="../../public/img/Rectangle 171.png" alt="">
                        </div>
                        <button class="red-btn">PURCHASE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <section class="down-grid">
        <div class="inner-down-grid-holder">
            <div class="inner-down-grid">
                <div>
                    <button>HOME</button>
                </div>
                <div>
                    <button>ABOUT US</button>
                </div>
                <div>
                    <button>CONTACT US</button>
                </div>
                <div>
                    <button>SERVICES</button>
                </div>
                <div>
                    <button>EVENTS</button>
                </div>
                <div>
                    <button>Business Plan</button>
                </div>
            </div>
            <div class="bottom-of-grid">
                <input type="text" placeholder="Your mail..."> <button>GET NEWSLETTER</button>
            </div>
        </div>
    </section>
    <section class="bottom">
        <div class="flexed">
            <div class="logo-2">
                <img src="../../public/img/logo (1).png" alt="">
            </div>
            <ul class="socials">
                <li><a href=""><img src="../../public/img/Rectangle 178.png" alt=""></a></li>
                <li><a href=""><img src="../../public/img/Rectangle 179.png" alt=""></a></li>
                <li><a href=""><img src="../../public/img/Rectangle 180.png" alt=""></a></li>
                <li><a href=""><img src="../../public/img/Rectangle 181.png" alt=""></a></li>
                <li><a href=""><img src="../../public/img/Rectangle 182.png" alt=""></a></li>
            </ul>
        </div>

        <p class="bottom-text"><b>All right reserved - Copyrights 2023 Lamidconsulting</b></p>

        <div class="mobile-bottom">
            <ul class="all-bottom-list-holders">
                <li>
                    <ul>
                        <li>
                            <h3>HOME</h3>
                        </li>
                        <li>
                            <p> <a href=""> join biz </a></p>
                        </li>
                        <li>
                            <p> <a href=""> join biz club </a></p>
                        </li>
                        <li>
                            <p> <a href=""> join biz shpere </a></p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <h3>SERVICES</h3>
                        </li>
                        <li>
                            <p> <a href=""> biz </a></p>
                        </li>
                        <li>
                            <p> <a href=""> hcd </a></p>
                        </li>
                        <li>
                            <p> <a href=""> biz-4-bbgr</a></p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <h3>ABOUT US</h3>
                        </li>
                        <li>
                            <p> <a href="">business guides</a></p>
                        </li>
                        <li>
                            <p> <a href="">benefits</a></p>
                        </li>
                        <li>
                            <p> <a href="">job search clinic</a></p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <h3>EVENTS</h3>
                        </li>
                        <li>
                            <p> <a href="">recent events</a></p>
                        </li>
                        <li>
                            <p> <a href="">upcoming events</a></p>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="contact-us">
                <li>
                    <h3>CONTACT US</h3>
                </li>
                <li>
                    <p><i class="bi bi-envelope-fill"></i> <a href=""> hp@lamidconsulting.com
                            <br>
                            crm@lamidconsulting.com</a></p>
                </li>
                <li>
                    <p><i class="bi bi-telephone-fill"></i> <a href=""> +2347026228801
                        </a></p>
                </li>
                <li>
                    <p><i class="bi bi-geo-alt"></i> <a href="">2 nd Floor Ivory Music
                            <br> House, Alausa, Lagos.
                        </a></p>
                </li>
            </ul>
        </div>
    </section>
    <script>
        const menu = document.querySelector('.menu');
        const hamburger = document.querySelector('.hamburger');


        hamburger.addEventListener('click', () => {
            menu.classList.toggle('collapsed');
        });

    </script>
</body>

</html>
